streamlit
colorama
matplotlib
seaborn
numpy
pandas
google-auth
distributed
dateparser
nlpaug
torch
# Dependancies for sheethelper
gspread
transformers==4.37.0
openai
sentencepiece
black
streamlit-shadcn-ui
loguru
wordcloud
requests
nlpretext
plotly
reportlab
fpdf
tqdm
groq
resend
